<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eFinance Login</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="#loanApplications">Loan Applications</a>
    <a href="#bank">Bank Account</a>
    <a href="#payments">Payments</a>
    <a href="#FAQ">FAQ</a>
</div>

<h2>eFinance Login Page</h2><br>
<div class="login">
    <form id="login" method="get" action="login.php">
        <label><b>User Name
        </b>
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="Username">
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input type="Password" name="Pass" id="Pass" placeholder="Password">
        <br><br>
        <input type="button" name="log" id="log" value="LOG IN">
    </form>
</div>
</body>
</html>